@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Smooch+Sans:wght@500&family=Zeyada&display=swap');

body {
    background-color: rgb(179, 179, 179);
    font-family: 'Smooch Sans', sans-serif;
}
  
h4 {
    font-family: 'Zeyada', cursive;
    color: #004D40;
    font-size: 70px;
    transform: rotate(180deg);
    margin-top: -280px;
}

h2 {
    color: #004D40;
    font-family: 'Smooch Sans', sans-serif;
    margin-left: 20px;
    font-size: 40px;
}

p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 24px;
    margin: 20px;
}

.header-box {
    position: relative;
    margin-top: -10px;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: 250px;
    width: 100%;
    position: absolute;
}

.logo {
    z-index: 2;
    position: absolute;
    width: 400px;
    transform: rotate(180deg);
}

.logo img {
    max-height: 100%;
    max-width: 100%;
}

.header-background {
    display: block;
    width: 100%;
    height: 600px;
    background-image: url("/assets/images/border-leaves-selection-png.png");
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
    z-index: 0;
    position: relative;
    overflow: visible;
}

.header-background::before,
.header-background::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.header-background::before {
  left: 400px;
  height: 400px;
  margin-top: 200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(179, 179, 179, 1));
}

.header-background::after {
  right: 400px;
  height: 400px;
  margin-top: 200px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(179, 179, 179, 1));
}

#nav-box {
  text-decoration: none;
  margin-top: -150px;
  margin-left: 50px;
  margin-right: 50px;
  z-index: 6;
  position: relative;
}

#nav-box ul {
  list-style-type: none;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-box ul a {
  text-decoration: none;
  color: black;
} 

.studio {
    display: block;
    width: 100%;
    height: 300px; 
    background-image: url("/assets/images/studio-panoramic.jpg");
    background-size: cover;
    background-position: center;
    border-top: 40px solid #004D40;
    border-bottom: 40px solid #004D40;
  }

  #base-behind {
    display: block;
    width: 100%;
    height: 600px;
    background-image: url("/assets/images/golden-clock-background-png.png");
    background-size: cover;
    background-position: center;
    z-index: 2;
    position: absolute;
  }

  #company-info {
    z-index: 1;
  }

  #suppliers {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
  }

  #suppliers img {
    height: 100px;
    padding: 20px;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #004D40 solid 10px;
    border-bottom: #004D40 solid 10px;
  }
  
  .socials a {
    display: inline-block;
    margin: 40px;
    text-decoration: none;
    color: #000;
    font-size: 60px;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px 0;
    font-size: larger;
  }

  input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #004D40;
    box-sizing: border-box;
    border-radius: 2px;
    resize: vertical;
  }

  button[type="submit"] {
    background-color: #004D40;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #003832;
  }