@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Smooch+Sans:wght@500&family=Zeyada&display=swap');

body {
    background-color: rgb(179, 179, 179);
}

body {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
  }
  
h1 {
font-family: 'Zeyada', cursive;
}

p {
font-family: 'Barlow', sans-serif;
}

.header-box {
    position: relative;
    margin-top: -10px;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: -150px;
    position: relative;
}

.logo {
    z-index: 2;
    position: absolute;
    width: 300px;
    transform: rotate(180deg);
}

.logo img {
    max-height: 100%;
    max-width: 100%;
}

.header-background {
    display: block;
    width: 100%;
    height: 600px;
    background-image: url("/assets/images/border-leaves-selection-png.png");
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
    z-index: 1;
    margin-top: 150px;
    position: relative;
    overflow: visible;
}

.header-background::before,
.header-background::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.header-background::before {
  left: 50%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(179, 179, 179, 1));
}

.header-background::after {
  right: 50%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(179, 179, 179, 1));
}

#nav-box {
    margin-top: 50px;
}

.studio {
    display: block;
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    background-image: url("/assets/images/studio-panoramic.jpg");
    background-size: cover;
    background-position: center;
  }