@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Smooch+Sans:wght@500&family=Zeyada&display=swap');

body {
  background-color: rgb(179, 179, 179);
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 24px;
}

h2 {
  color: #004D40;
  font-family: 'Smooch Sans', sans-serif;
  margin-left: 20px;
  font-size: 48px;
  background-blend-mode: multiply;
  z-index: 4;
}
  
h4 {
    font-family: 'Zeyada', cursive;
    color: linen;
    font-size: 70px;
    font-weight: lighter;
    margin-top: 550px;
    text-shadow: 0 0 2px #003832;
}

h5 {
  font-family: 'Zeyada', cursive;
  color: #004D40;
  font-size: 70px;
  text-shadow: 0 0 2px linen;
}

p {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 30px;
  margin: 20px;
}

.header-box {
    position: relative;
    margin-top: -20px;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding-top: 200px;
    width: 100%;
    position: absolute;
}

.logo {
    z-index: 2;
    position: absolute;
    width: 400px;
}

.logo img {
    max-height: 100%;
    max-width: 100%;
}

.header-background {
    display: block;
    width: 100%;
    height: 690px;
    background-image: url(images/background-for-logo.png);
    background-size: cover;
    background-position: center;
    z-index: 0;
    margin-top: 0;
    position: relative;
    overflow: visible;
}

.slogan {
  position: relative;
  height: fit-content;
  margin: 30px;
}

#nav-box {
  text-decoration: none;
  margin-top: -150px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: -10px;
  z-index: 6;
  position: relative;
}

#nav-box ul {
  list-style-type: none;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 38px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-box ul a {
  text-decoration: none;
  color: black;
} 

#nav-box .active {
  text-shadow: 1px 1px 2px linen;
  text-decoration: underline;
}

.studio {
    display: block;
    width: 100%;
    height: 300px; 
    background-image: url(images/studio-panoramic.jpg);
    background-size: cover;
    background-position: center;
    border-top: 40px solid #004D40;
    border-bottom: 40px solid #004D40;
  }

  #base-behind {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
    justify-content: center;
  }

  #timepiece-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute
  }

  #timepiece-background {
    height: 100%;
    width: 100%;
    background-image: url(images/golden-clock-background-png.png);
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.2;
    filter: grayscale(0.5);
    position: absolute;
    overflow: hidden;
    z-index: -1;
  }

  .company-background-container {
    display: flex;
    justify-content: center;
    margin-top: -30px;
  }

  .company-background {
    background: url(images/fat-leaves-side.png) no-repeat, center;
    height: 200px;
    width: 350px;
    background-size: cover;
  }

  .company-info {
    padding: 30px;
    background-blend-mode: multiply;
    z-index: 4;
    text-align: center;
  }

  .company-info h5 {
    margin-top: -10px;
    margin-bottom: -10px;

  }

  #suppliers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 30px;
  }

  #suppliers img {
    height: 100px;
    padding: 20px;
    background-blend-mode: multiply;
    z-index: 4;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #004D40 solid 10px;
    border-bottom: #004D40 solid 10px;
    background-color: rgb(179, 179, 179);
    position: relative;
  }
  
  .socials a {
    display: inline-block;
    margin: 40px;
    text-decoration: none;
    color: #000;
    font-size: 30px;
    text-shadow: 0 0 2px linen;
  }

/** work gallery styling **/
#work-gallery {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
  margin: 20px;
  margin-bottom: 60px;
  background-color: #004D40;
  border: solid #004D40 3px;
}

#work-gallery > img {
  width: 100%;
}

/** inspiration gallery styling **/
#inspiration-gallery {
  clear: both;
  background-color: whitesmoke;
  line-height: 0;
  column-count: 7;
  column-gap: 0;
  margin: 50px 20px 20px 20px;
  border: solid #004D40 3px;
}

#inspiration-gallery > img {
  width: 100%;
  padding: 10px 0;
}

.ideas {
  padding: 0 70px;
}

.ideas a {
  text-decoration: none;
  color: black;
}

.base-leaves {
  background-image: url(images/thin-leaves-png.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 400px;
  right: 0;
  height: 400px;
  transform: rotate(90deg);
  background-size: contain;
  margin-top: -300px;
  opacity: 80%;
  z-index: -1;
}

/** terms and advice page **/

#terms {
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 30px;
}

#terms ol {
  font-size: 18px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.parallax-advice {
  background-image: url(images/thin-leaves.png);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.advice-blurb {
  width: 95vw;
  height: auto;
  border: solid 2px #000;
  border-radius: 3px;
  box-shadow: 1px 1px linen;
  margin: 10px;
  background-color: rgb(250, 240, 230, 50%);
}

.video-explain {
  width: 600px;
  height: auto;
  border: solid 2px #000;
  border-radius: 3px;
  box-shadow: 1px 1px linen;
  margin: 10px;
  background-color: rgb(250, 240, 230, 50%);
}

iframe {
  border: solid 2px #000;
  border-radius: 3px;
  box-shadow: 1px 1px linen;
  margin: 5px;
}

#advice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#advice h5 {
  width: 90vw;
}

.official-advice {
  padding: 30px;
  border: solid 2px #000;
  border-radius: 3px;
  box-shadow: 1px 1px linen;
  margin: 10px;
  background-color: rgb(250, 240, 230, 50%);
}

#advice ul {
  font-size: 24px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

/** organising contact page contents **/
#contact-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/** background image for contact us **/
.parallax-background {
  background-image: url(images/fat-leaves.png);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/** image for contact page **/
.action-shot img {
  max-width: 500px;
  border: 2px solid #004D40;
  border-radius: 2px;
  box-sizing: border-box;
  margin-left: 20px;
}

/** contact form styling **/
  .container {
    max-width: 675px;
    padding: 30px;
    border: solid 2px #004D40;
    border-radius: 3px;
    box-shadow: 1px 1px linen;
    margin: 10px;
    background-color: rgb(250, 240, 230, 50%);
  }

  .container h2 {
    margin-left: -5px;
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input[type="radio"] {
    color:#004D40;
  }

  input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #004D40;
    box-sizing: border-box;
    border-radius: 2px;
    resize: vertical;
  }

  input[type="radio"] {
    background-color: #004D40;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border: none;
    cursor: pointer;
    float: left;
  }

  input[type="submit"] {
    background-color: #004D40;
    color: #fff;
    padding: 3px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }

  #myFile {
    background-color: #004D40;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  button[type="submit"] {
    background-color: #004D40;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 100px;
    margin-top: 20px;
  }

  button[type="submit"]:hover {
    background-color: #003832;
  }

  /** address and message **/

  .address {
    width: 500px;
    margin-bottom: 30px;
    padding-left: 30px;
    border: solid 2px #004D40;
    border-radius: 3px;
    box-shadow: 1px 1px linen;
    background-color: rgb(250, 240, 230, 50%);
  }

  .map {
    width: auto;
    height: auto;
  }

  /* Media queries */

/* For large screens from 1800px wide and up */
@media screen and (min-width: 1800px) {
  p {
    font-size: 32px;
  }

  h4 {
    font-size: 100px;
    margin-top: 750px;
    text-shadow: 0 0 2px #003832;
}

  .header-background {
    height: 930px;
}

.header-box {
  position: relative;
}

.logo-box {
  height: 300px;
}

.logo {
  width: 500px;
}

#nav-box {
  margin-top: -250px;
  margin-left: 150px;
  margin-right: 150px;
  min-height: 100px;
  z-index: 6;
}

#nav-box ul {
  font-size: 44px;
}

.studio {
  height: 350px; 
}

.video-explain {
  width: 800px;
}

h5 {
  font-size: 80px;
}
}

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
  p {
    font-size: 24px;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 60px;
  }

  h5 {
    font-size: 50px;
  }


.logo-box {
    padding-top: 210px;
}

.logo {
    width: 30vw;
}

.slogan {
  margin-top: -30px;
}

.header-background {
    height: 690px;
    margin-top: -70px;
}

#nav-box ul {
  font-size: 34px;
}

.base-leaves {
  width: 200px;
  height: 200px;
  margin-top: -180px;
  right: 10px;
}

h5 {
  color: black;
}

}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {
  p {
    font-size: 24px;
  }

  h2 {
    font-size: 40px;
  }

  h4 {
    font-size: 60px;
  }

  h5 {
    font-size: 50px;
  }

.logo-box {
    padding-top: 210px;
}

.logo {
    width: 40vw;
}

#nav-box ul {
  font-size: 34px;
}

.base-leaves {
  width: 200px;
  height: 200px;
  margin-top: -180px;
  right: 10px;
}

h5 {
  color: black;
}

label {
  margin-top: 10px;
  font-size: 16px;
}

.action-shot img {
  max-width: 400px;
  margin: 10px;
}

/* For small screen sizes below 800px width */
@media screen and (max-width: 800px) {
  body {
    font-size: 18px;
    margin: 10px;
  }
  
  h2 {
    margin-left: 10px;
    font-size: 32px;
  }
    
  h4 {
      font-weight: lighter;
      margin-top: 550px;
      font-size: 50px;
  }
  
  h5 {
    font-size: 50px;
  }
  
  p {
    font-size: 20px;
    margin: 20px;
  }  

  #work-gallery {
    column-count: 3;
  }

  #inspiration-gallery {
    column-count: 5;
  }

  label {
    font-weight: bold;
  }
}

/* For small screen sizes below 700px width */
@media screen and (max-width: 700px) {
  body {
    font-size: 14px;
    margin: 3px;
  }
    
  h4 {
      font-weight: lighter;
      margin-top: 100px;
      font-size: 40px;
      text-align: center;
  }
  
  h5 {
    font-size: 50px;
  }
  
  p {
    font-size: 20px;
    margin: 20px;
  }  

  .logo {
    height: 30px;
    padding: 5px;
  }

  iframe {
    max-width: 97vw;
    height: 100%;
  }

.logo {
    width: 50vw;
    height: auto;
}

.header-background {
    height: 490px;
    margin-top: -120px;
}

.slogan {
  position: relative;
  height: fit-content;
  margin: 30px;
  margin-top: 350px;
}

#nav-box {
  margin-left: -35px;
  margin-right: 0;
  text-align: center;
  margin-top: 40px;
}

#nav-box ul {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.official-advice {
  padding: 10px;
  padding-left: 0;
  background-color: rgb(250, 240, 230, 60%);
  font-weight: 400;
}

#advice ul {
  font-size: 20px;
}

#advice h5 {
  text-shadow: 0 0 7px linen;
}

.socials a {
  font-size: 25px;
  margin: 15px;
}

.action-shot {
  width: 97vw;
}
}